.payment h3{
    margin-top: 120px;
    text-align: center;
    font-family: 'Reem Kufi' ;
    font-style: normal ;
    font-weight: bold;
    font-size: 36px ;
    line-height: 75px ;
    color:#000;

}
.paymentContainer{
    margin: 50px 0;
    overflow: auto;
}
.column1{
    margin-top: 50px;
    font-family: 'Reem Kufi';
    padding-right: 80px;
    border-right: 1px solid #000;
}
.column2{
    margin-top: 50px;
}
.linePayment{
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px 0;
}
.itemCol2Payment{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: 'Reem Kufi';
}
.paymentMethod_text{
    margin-bottom: 30px;
}
.paymentDelivery_text{
    margin-left: 150px;
    font-family: 'Reem Kufi';
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #000;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #EB4335;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #000;
}
.completePayment{
    text-decoration: none;
    color: #fff !important;
    transition: font-weight;
    background: #EB4335;
    padding: 5px 70px;
    border-radius: 20px;
    font-family: 'Reem Kufi';
    font-size: 20px;
}
.backPayment{
    text-decoration: none;
    color: #fff !important;
    transition: font-weight;
    background: #000;
    padding: 5px 90px;
    border-radius: 20px;
    font-family: 'Reem Kufi';
    font-size: 20px;
}
.completePayment:hover{
    font-weight: bold;
}
.backPayment :hover{
    font-weight: bold;
}
.btn_complete{
    text-align: center;
    margin-top: 50px;
}
.btn_back{
    text-align: center;
    margin-top: 20px;
}
