* {
    margin: 0px;
}

.bg-form{
    background-image: url("../Frontend/CSS/Image/HUST.jpg");
    background-size: cover;
    background-position: bottom 20% center;
    height: 100vh;

}

.btn-login *{
	color:white;
	text-decoration: none;
}
.btn-login a:hover{
	color: black;
}
.see-listuser{
	text-align: right;
	margin-bottom: 30px;
}
.see-listuser a:link{
	text-decoration: none;
	}
/*------------adduser------------*/
.add-garbage_user{
	display: flex;
	text-align: right;
}
.add_user{
	padding: 7px 10px;
	font-size: 17px;
	background: green;
	border-radius: 5px;
}
.garbage_user{
	margin-left: 10px;
	padding: 7px 10px;
	font-size: 17px;
	background: green;
	border-radius: 5px;
}
.garbage_user a:visited{
	color: white;
}
.garbage_user a:link{
	text-decoration: none;
}
.add_user a:visited{
	color: white;
}
.add_user a:link{
	text-decoration: none;
}

/* -------------Login Form------------------*/
.login-container {
    width: 45%;
    color: white;
    margin-top: 20vh;
    border-radius: 30px;
    background: rgba(41, 37, 37, 0.87);

    -webkit-box-shadow: 0px 1px 22px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 22px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 22px 5px rgba(0,0,0,0.75);
}

.login-title{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
}

.forgot-password a {
    /* text-decoration: none; */
    float: right;
    margin-right: 10px;
}

/* ------------------------Setting form ---------------- */
.setting-container {
    width: 55%;
    color: white;
    margin-top:20vh;
    border-radius: 30px;
    background: rgba(41, 37, 37, 0.87);
}

/* ----------------------Information-------------------- */
.card-info{
    background-color: #E0B87B;
}

.list-change{
    
    list-style: none;
    line-height: 200%;
}

.list-change li a {
    text-decoration: none;
    margin-left: 10px;
}
/* Error page*/
.error{
    text-align: center;
    margin-top: 120px;
}
.infor{
    font-size: 150%;
}
.header1{
    height: 10px;
}
.header2{
    border: 1px solid rgb(218, 217, 217);
    background-color: rgb(231, 228, 228);
    height: 120px;
}
.header2_logo{
    margin-top: 10px;
}
.header2_school{
    margin-top: 30px;
    padding: 2px;
    display: inline-flex;
}
/*-----------cart-----------*/

/*---------------------------------------Payment-----------------------------*/


/*---------- createblog------------*/
.create-post {
    float: right;
    margin-right: 6%;
}

.post-element {
    text-align: center;
    justify-content: center;
    margin-top: 5vh;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.post-element img {
    width: 50%;
}

.post-element h5 {
    margin-left: 5% !important;
}

.post-element p {
    margin: 0 10%;
}

.post-element a {
    text-decoration: none;
}

.post-content {
    max-width: 60%;
}
/*--------footer-----*/
.footer-body footer a:hover{
    background-color: aliceblue;
     color: black;
}
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  

  .footer-body{
    background-image: url("../Frontend/CSS/Image/footer.jpg");
    background-size: cover;
    background-position: bottom 10% center;
  height: 100vh;
  }
  .footer-container{

    width: 100%;
    height: 100vh;
    color: white;
    background: rgba(29, 27, 27, 0.87);

    -webkit-box-shadow: 0px 1px 22px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 22px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 22px 5px rgba(0,0,0,0.75);
  }
  .footer-title{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 600%;
}
/*----------header-------------*/
.HEADER header{

    background: rgba(41, 37, 37, 0.87);

    -webkit-box-shadow: 0px 1px 22px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 22px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 22px 5px rgba(0,0,0,0.75);
}
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }
  ul#main-menu a{
    font-size: 120%;
    padding: 7px 20px;
  }

/*----------sidebar----------*/
@import url('https://fonts.googleapis.com/');
aside{
  font-family: 'Roboto', sans-serif;
}
aside *{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.sidebar{
  top: 75px;
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  font-size: 18px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid black;
  transition: .3s;

}
.sidebar ul#sidebar-menu li:hover a{
  padding-left: 50px;
}
.sidebar ul#sidebar-menu a i{
    margin-right: 16px;
}
aside #check{
    display: none;
}
aside label #btn, label #cancel{
    position: fixed;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
aside label #btn{
    left: 40px;
    top: 100px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
aside label #cancel{
    z-index: 1111;
    left: -245px;
    top: 95px;
    font-size:  30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}
aside #check:checked ~ .sidebar{
    left: 0;
}
aside #check:checked ~ label #btn{
    left: 300px;
    opacity: 0;
    pointer-events:none;
}
aside #check:checked ~ label #cancel{
    left: 245px
}
aside #check:checked ~ section{
    margin-left: 300px;
}
section{
    transition: all .5s;
}

/*------------homepage-------------*/


.home-img a:hover img{
	transform: scale(1.2);
}
  .carousel {
    
    margin-bottom: 4rem;
  }

  .carousel-caption {
   
    z-index: 10;
  }

  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing .News{
    display: flex;
    justify-content: center;
    font-family: 'Reem Kufi' ;
    font-style: normal ;
    font-weight: bold;
    font-size: 60px ;
    line-height: 120px ;
    color:#000;

  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .featurette-divider {
    margin: 5rem 0; 
  }
  

  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .News{
     display: flex;
    justify-content: center;
    font-family: 'Reem Kufi' ;
    font-style: normal ;
    font-weight: bold;
    font-size: 70px ;
    line-height: 75px ;
    color:#000;

}
.btn-view a:hover{
	color: white;
}
.btn-view a:link{
	text-decoration: none;
}
.new-img{
	overflow: hidden;
}
.new-img a img{
	max-width: 100%;
	transition: all .5s ease;
}
.new-img a:hover img{
	transform: scale(1.1);
}
/*---------news-save------*/
.add-News{
	 display: flex;
    justify-content: center;
    font-family: 'Reem Kufi' ;
    font-style: normal ;
    font-weight: bold;
    font-size: 50px ;
    line-height: 50px ;
    color:#000;
}
.btn-new_list a:link{
	text-decoration: none;
}
.btn-new_list a:visited{
	color: white;
}

.name{
	text-align: right;
}
/*---------------productview----------*/
.small-img-row{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.btn a:link{
    color: white;
}
.product a:link{
    text-decoration: none;
}
.product a:visited{
    color: gray;
}
.product a:hover{
    color: red;
}
.product a{
    padding: 0px 10px;
}
.icon-next{
    color: rgb(185, 182, 182);
    margin-top: 5px;
}
.product p{
    padding: 0px 10px;
}
.hnn{
    padding: 10px 50px;
    background-color: rgb(245, 241, 241);
}
.size{
    margin-top: 20px;
    margin-left: 30px;
    padding: 0 15px 0 10px;
}
.size-quantity div{
    padding: 0 70px 0 10px;
}
.sold-avai p{
    padding: 0px 50px;
    font-size: 150%;
    font-family: Helvetica;
    color: gray;
}
.btn-add a{
    text-decoration: none;
}
.btn-add{
    text-align: center;
}
.addToCart{
    color: #fff !important;
    background: #f33b2a;
    padding: 7px 20px 7px 20px;
    border-radius: 7px;
    font-family: Helvetica;
    font-size: 25px;
    border: 1px solid white;
}
.productdetail{
    margin-top: 60px;
}
.productdetail h3{
    margin-bottom: 25px;
    background-color: rgb(248, 245, 245);
}
.productdetail p{
    font-family: Helvetica; 
    color: gray;
}
.id-product{
	margin-left: 100px;
	margin-bottom: -25px;
}
.ID{
	margin-top: 20px;
	padding: 0 2px 0 5px;
}
.comment a:link{
	text-decoration: none;
}
.comment{
	margin-left: 10px;
	}

/*----------------product-list----------*/
.product-name{
	text-align: center;
}
.sold-avai-list p{
    padding: 0px 50px;
    font-family: Helvetica;
    color: gray;
}
.sold-avai-list{
	margin-left: 30px;
}
.addToCart-list{
    color: #fff !important;
    background: #f33b2a;
    padding: 8px 20px 8px 20px;
    border-radius: 7px;
    font-family: Helvetica;
    font-size: 17px;
    border: 1px solid white;
}
.hnn-list{
	padding: 10px 20px;
    background-color: rgb(245, 241, 241);
}
.id-quanty-list div{
	padding: 10px 40px;
}
.id-product-list h5{
	margin-right: 5px;
}
.quanty-list h5{
	margin-right: 7px;
}
.product-title{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
}
/*--------------comment----------*/

.content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100px;
}

#comments .media {
	border-top:1px dashed #DDDDDD;
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:100px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}
#news-post{
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}
#news-post .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}
  